image: Visual Studio 2017

platform:
  - x64

matrix:
  fast_finish: true

install:
  - git submodule update --init --recursive

before_build:
  - ps: New-Item -ItemType Directory -Force -Path build
  - ps: cd build
  - ps: cmake -G "Visual Studio 15 2017 Win64" -DBOOST_ROOT="C:\Libraries\boost_1_66_0" ..

build:
  parallel: true
  project: build/orbum.sln