[submodule "GoogleTestLibrary/googletest"]
	path = GoogleTestLibrary/googletest
	url = https://github.com/google/googletest.git
[submodule "modular-boost"]
	path = modular-boost
	url = git@github.com:boostorg/boost.git
	ignore = dirty